CompileFlags:
  # Treat code as C++, use C++17 standard, enable more warnings.
  Add: [-xc++, -std=c++20, -Wall, -Wno-missing-prototypes]
  # Remove extra warnings specified in compile commands.
  # Single value is also acceptable, same as "Remove: [-mabi]"
  Remove: -mabi
Diagnostics:
  # Tweak Clang-Tidy checks.
  ClangTidy:
    Add: [performance*, modernize*, bugprone*]
    Remove: [modernize-use-trailing-return-type, bugprone-easily-swappable-parameters, modernize-avoid-c-arrays]
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
---
# Use Remote Index Service for LLVM.
If:
  # Note: This is a regexp, notice '.*' at the end of PathMatch string.
  PathMatch: /usr/lib/llvm-12/.*
#Index:
#  External:
#    Server: clangd-index.llvm.org:5900
#    MountPoint: /usr/lib/llvm-12/